%h1 Welcome to your team
%div
  = link_to "add a stylist", stylists_path, class: "btn btn-default"

- @style_team.each do |user|

  - if user.followed_by(current_user)
    .stylist-fashionboard-panel
      %h3= link_to user.email, feed_user_path(user)
      = button_to "Remove from Team", follow_path(user.followed_by(current_user)), method: :delete, :class => "btn btn-primary btn-sm btn-danger"
