/* STYLES RELATED TO BUTTON ELEMENTS */
@import 'color_palette';

input[type=radio] {
  display:none;
}

input[type=radio] + label {
  cursor: pointer;
  span {
    color: #FFF;
    -webkit-text-fill-color: white;
  }
}

input[type=radio]:checked + label {
  .fa-heart-o {
    -webkit-text-fill-color: red;
  }
  .fa-thumbs-o-down {
    -webkit-text-fill-color: yellow;
  }
  .fa-thumbs-o-up {
    -webkit-text-fill-color: green;
  }
}

.form-group.feedback-button-group {
  text-align: center;
  position: relative;
}

.get-advice-button {
  position: relative;
  top: -25px;
  left: 70px;
  font-size: 20px;
  width: 165px;
  padding: 2px;
}

label.notEnabled {
  cursor: no-drop !important;
}


