/* STYLES RELATED TO BUTTON ELEMENTS */
@import 'color_palette';

input[type=radio] {
  display:none;
  /*opacity: 0;*/
}
/*input[type=radio]:checked > .fa */
input[type=radio]:checked + label {
  background-image: none;
  /*outline: 0;*/
  span {
    color: white;
  }
}

input[type=radio]:checked + label {
  .fa-thumbs-up {
    color: green;
  }
  .fa-heart {
    color: red;
  }
  .fa-thumbs-down {
    color: yellow;
  }
}




.form-group.feedback-button-group {
  text-align: center;
  position: relative;
}