/* STYLES RELATED TO BUTTON ELEMENTS */
@import 'color_palette';

input[type=radio] {
  display:none;
}

input[type=radio] + label {
  cursor: pointer;
  .fa-heart-o {

/*    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;*/
  }
  .fa-thumbs-o-up {

/*    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;*/
  }
  .fa-thumbs-o-down {
/*    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;*/
  }

  span {
    color: #FFF;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
  }
}

input[type=radio]:checked + label {
  .fa-heart-o {
    -webkit-text-fill-color: red;
  }
  .fa-thumbs-o-down {
    -webkit-text-fill-color: yellow;
  }
  .fa-thumbs-o-up {
    -webkit-text-fill-color: green;
  }

}

.form-group.feedback-button-group {
  text-align: center;
  position: relative;
}