@import 'color_palette';
@import "mixins";

.item-thumbnail {
  margin: 10px 25px;
  color:  $light-gray;
  display: inline-block;
  max-width: 100%;
  height: auto;
  line-height: 1.42857143;
  background-color: $dark-gray;
  border-radius: 4px;
  @include diffused_shadow;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  .feedback-form-container {
    margin-top: -45px;
    color: #FFF;
    padding: 0px 10px;
  }
}

.feedback-response {
  position: relative;
  top: -45px;
  text-align: center;
}
