= link_to(user) do
  .stylist-index-bar
    %span.profile
    - if user.profile_image_id.present?
      = profile_picture_middle_thumbnail(user)

    %span.main-panel
      = user.first_name
      = user.last_name
    %span.info Info here
    %span.teams Teams here

