/ .well.well-sm
/   %small.text-muted
/   =# "#{time_ago_in_words activity['time'] ago}"
/   %p
/     %strong=# activity['object'].email
/     and
/     %strong=# activity['actor'].email
/     are now friends