@import 'color_palette';

.feedback-results {
  background-color: #000;
  opacity: .3;
  width: 300px;
  margin-top: -51px;
  height: 51px;
}

.feedback-counter {
  color: $text-white;
  margin-top: -50px;
  padding: 6px 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.form-group.feedback-submit-btn-group {
  text-align: center;
  padding: 7px;
}

.margin-spacer {
  margin: -3px 10px;;
}

.posting-info,
.time-of-post {
  text-align: center;
  font-size: 18px;
  width: 280px;
}
