/* COLOR PALETTE */

/* Base Site Colors */
$base-gray:   #3F5063;
$light-gray:  #6A7C91;
$dark-gray:   #242E39;
$darkest-gray: #192129;


/* Text Colors */
$text-gray:   #505A66;
$text-white:  #F1F1F1;

$shadow:      #0F1519;
