.default-hero {
  background-image: url('remba-hero.png');
  background-position: center center;
  background-size: cover;
  height: 700px;
  margin-top: -15px;
}

.container.site-greeting {
  .hero-tagline {
    color: #fff;
    text-align: center;
    font-size: 5em;
    text-shadow: 1px 1px 1px #999;
  }
}

.team-panel {
  border: 1px solid #BBB;
  min-height: 200px;
  float: left;
  /*width: 100%;*/
  min-width: 700px;
}

.stylist-index {
  border: 1px solid #BBB;
  min-height: 150px;
  margin-top: 10px;
}

.stylist-fashionboard-panel {
  border: 1px solid #BBB;
  height: 250px;
  width: 200px;
  margin: 10px;
  float: left;
}
