.team-panel {
  border: 1px solid #BBB;
  min-height: 200px;
  float: left;
  width: 100%;
}

.stylist-index {
  border: 1px solid #BBB;
  min-height: 150px;
  margin-top: 10px;
}

.stylist-fashionboard-panel {
  border: 1px solid #BBB;
  height: 250px;
  width: 200px;
  margin: 10px;
  float: left;
}

.evaluate-container {
  border: 1px solid #999;
  height: 65px;
}

.page-header {
  padding-top: 3px;
  padding-top: 5px;
  margin: 35px 0 20px;
  border-bottom: 1px solid #eee;
}