/*img.default-profile {
  border: 5px solid rgba(0,0,0, .2);
  border-radius: 26px;
}

img.attachment.user.profile_image {
  border-radius: 26px;
}*/

span.nav-avatar {
  float: right;
  margin-top: 5px;
}