@import 'color_palette';
@import "mixins";

.stylist-listing-tile {
  float: left;
  width: 300px;
  height: 340px;
  border: 1px solid #999;
  margin: 10px 12px;
  border-radius: 12px;
  overflow: hidden;
  @include diffused_shadow;
}

.profile-image {
  border-bottom: 1px solid #999;
  width: 100%;
  height: 200px;
  float: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-section {
  position: relative;
  padding: 10px;
  margin-top: 200px;
  background-color: #FFF;
}

.profile-info {
  position: relative;
  top: -35px;
  text-align: center;
}