.container
  %h1.page-title Your Fashionboard
  .container
    %p You don't have any fashion entries yet
    .new-fashion-item
      = link_to "Upload new Fashion Item", new_item_path, class: 'btn btn-warning'

    .panel-container.uploaded
      %div
        = render @items
    .panel-container.messages

    .panel-container.teams
      = render partial: "shared/team_listing", locals: { team: @style_team }








